
/* Font Declaration */
@font-face {
    font-family: 'Munro';
    src: url('../fonts/Munro-2LYe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

/* Standard Overrides */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: #642121; */
    background-color: #3a412b;
    font-family: 'Munro', sans-serif;
    color:#f1ebcf;
    overflow-x: hidden;
    touch-action: manipulation;
}

a{
  line-height: 0;
  color:#f1ebcf;
  /* transition: color 0.15s ease; */
}

a:hover{
  color: #f1ebcf;
}

a:visited{
  color:#f1ebcf;
}

p{
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

figure {
  margin: 0;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* min-width: 300px; */
    /* min-width: 50px; */
    height: auto;
}



/* Containers */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100vw; */
    flex-direction:column;
}

.wrapper-scale {
  height:100%;
  transform: scale(0.7);
  transform-origin: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 1400px; */
    height: 100%;
    max-height: 90vh;
    padding: 20px 0;
    box-sizing: border-box;
}

.img{
      max-width:65%;
    }

.message{
  padding:20px;
  font-size:18px;
  text-align:center;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom:0;

}


  /* Fade in animation */

  .fade-in {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
  }

  .fade-in-faster {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }

  /* Fade out animation */

  .fade-out {
    animation: fadeOut 0.5s ease forwards;
  }

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 900px) {

      .wrapper-scale{
        transform: scale(0.6); 

      }
  }

  @media screen and (max-width: 700px) {

    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
        /* min-width: 300px; */
        /* min-width: 50px; */
        height: auto;
    }
          
   .centered-img{
      max-width:75%;
      margin-top:0px;
    }

    p{
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    }

    .main-content {
      width: 100%;
      height:100%;
    }
    
    .wrapper-scale{
      transform: none;
      /* height:100%; */
      width:100%;
      padding:0;
      display:flex;
      flex-direction: column;

    }

    .wrapper{
      padding:20px;
    }

    .mobile-hide{
      display:none;
    }
  }
  






























