
/* Font Declaration */
@font-face {
    font-family: 'Munro';
    src: url('../fonts/Munro-2LYe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

/* Standard Overrides */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f1ebcf;
    font-family: 'Munro', sans-serif;
    color:#5b7560;
    overflow-x: hidden;
    touch-action: manipulation;
}

a{
  display: inline-block;
  line-height: auto;
  color:#5b7560;

}

a:visited{
  color:#5b7560;
}

p{
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

figure {
  margin: 0;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

/* Containers */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    flex-direction:column;
}

.wrapper-scale {
  height:100%;
  transform: scale(0.7);
  transform-origin: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    max-height: 90vh;
    padding: 20px 0;
    box-sizing: border-box;
}

  /* Fade in animation */

  .fade-in {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
  }

  .fade-in-faster {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
  }

  /* Fade out animation */

  .fade-out {
    animation: fadeOut 0.5s ease forwards;
  }

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 900px) {

      .wrapper-scale{
        transform: scale(0.6); 

      }
  }

  @media screen and (max-width: 700px) {

    .centered-img{
      max-width:75%;
      margin-top:0px;
    }

    p{
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    }

    .main-content {
      width: 100%;
      height:100%;
    }
    
    .wrapper-scale{
      transform: none;
      /* height:100%; */
      width:100%;
      padding:0;
      display:flex;
      flex-direction: column;

    }

    .wrapper{
      padding:20px;
    }

    .mobile-hide{
      display:none;
    }
  }
  




















